html {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  background: #212121;
  overflow: hidden;
}

.navbar {
  width: 300px;
  top: 10px;
  left: 15px;
  border-radius: 20px;
}

.navbar-toggler {
  border: none;
  outline: none;
  background: #000000;
  height: 15px;
}

.collapse1 {
  width: 400px;
}

#container-fluid {
  margin: 2px;
  top: 15px;
  left: 10px;
}

.text-body-secondary {
  font-size: 17px;
}

.card {
  width: 400px;
  border-radius: 20px;
}

.card-img {
  filter: blur(5px);
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.particles span {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: 50% 50%;
  animation: particles-animation linear infinite;
}

@keyframes particles-animation {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}
